<div class="budget">
  <div class="budget_title">
    budget Disponible:
  </div>
  <div class="budget_value">{{ totalAmount }}</div>
  <div class="budget_income clearStyle">
      <div class="budget_income--text">incoming</div>
      <div class="right">
        <div class="budget_income--value">+ {{ totalIncomingAmount }}</div>
        <div class="budget_income--percentage">{{ totalPercentageAmount }} %</div>
      </div>
  </div>
  <div class="budget_outcoming clearStyle">
      <div class="budget_outcoming--text">outcomings</div>
      <div class="right clearStyle">
        <div class="budget_outcoming--value">- {{ totalOutcomingAmount }}</div>
        <div class="budget_outcoming--percentage">{{ totalPercentageAmount }} %</div>
      </div>
  </div>
</div>
