<div class="entry">
  <h2 class="entry_title">Incoming</h2>
  <div class="item clearStyle">
    <div class="item_descripcion">Salario</div>
    <div class="right clearStyle">
      <div class="item_value">{{ itemAmount }}</div>
      <div class="item_delete">
        <button class="item_delete--btn">
          <i class="ion-ios-close-outline"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="item clearStyle">
    <div class="item_descripcion">Venta coche</div>
    <div class="right clearStyle">
      <div class="item_value">{{ itemAmount }}</div>
      <div class="item_delete">
        <button class="item_delete--btn"><i class="ion-ios-close-outline"></i></button>
      </div>
    </div>
  </div>
</div>
