<div class="incoming">
  <h2 class="incoming_title">Incoming</h2>
  <div *ngFor="let incoming of incoming"   class="item clearStyle">
    <div class="item_descripcion">{{ incoming.description }}</div>
    <div class="right clearStyle">
      <div class="item_value">{{ incoming.value | currency: 'EUR': 'symbol':'3.2-2' }}</div>
      <div class="item_delete">
        <button class="item_delete--btn">
          <i class="ion-ios-close-outline" (click)="clearLog(incoming)"></i>
        </button>
      </div>
    </div>
  </div>
</div>
