<div class="budget">
  <div class="budget_title">
    budget Disponible:
  </div>
  <div class="budget_value">+ 2,345.64</div>
  <div class="budget_income clearStyle">
      <div class="budget_income--texto">Entry</div>
      <div class="right">
          <div class="budget_income--value">+ 4,300.00</div>
          <div class="budget_income--percentage">&nbsp;</div>
      </div>
  </div>
  <div class="budget_outcoming clearStyle">
      <div class="budget_outcoming--text">outcomings</div>
      <div class="right clearStyle">
          <div class="budget_outcoming--value">- 1,954.36</div>
          <div class="budget_outcoming--percentage">45%</div>
      </div>
  </div>
</div>
