<div class="outcoming">
  <h2 class="outcoming_title">outcomings</h2>
  <div class="item clearStyle" >
      <div class="item_descripcion">Rent</div>
      <div class="right clearStyle">
        <div class="item_value">- 900.00</div>
        <div class="item_percentage">21%</div>
        <div class="item_delete">
            <button class="item_delete--btn"><i class="ion-ios-close-outline"></i></button>
        </div>
      </div>
  </div>
  <div class="item clearStyle" >
      <div class="item_descripcion">Clothers</div>
      <div class="right clearStyle">
        <div class="item_value">- 435.28</div>
        <div class="item_percentage">10%</div>
        <div class="item_delete">
            <button class="item_delete--btn"><i class="ion-ios-close-outline"></i></button>
        </div>
      </div>
  </div>
</div>
